@import "../../main.scss";

.card {
  max-width: 30rem;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 1rem;
  height: 100%;
  margin: 1rem;
  border: none;
  &-panel {
    &-title {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: $font-weight-basic;
    }
    &-content {
      height: 100%;
    }
    &-text {
      font-size: 1.6rem;
      font-weight: $font-weight-basic;
      margin-bottom: 1.7rem;
    }
  }
  &:hover {
    transition: all 0.5s ease;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.8);
  }
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
  }
  &-img {
    background-position: 50% 10%;
    background-size: cover;
    height: inherit;
    border-radius: 1rem;
  }
  &-section {
    &-title {
      height: 15%;
      font-size: $font-large;
    }
    &-text {
      text-align: left;
      height: 20%;
      font-size: $font-medium;
    }
    &-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40%;
      width: 20%;
    }
    &-icon {
      margin: 0.5rem;
    }
    &-price {
      height: 15%;
      font-size: $font-large;
      font-weight: $font-weight-basic;
    }
  }
  &-btn {
    &-add {
      background-color: $adm-purple;
      color: white;
      &:hover {
        background-color: $adm-purple;
      }
      &:focus {
        background-color: $adm-purple;
      }
    }
  }
}
