.card {
    width: 33%;
    &-wrapper {
        display: flex;
    }
    &-image {
        position: relative;
        text-align: center;
        &-description {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
