@import "../main.scss";

.code-block-row {
    display: flex;
    margin-bottom: 1rem;
    &-unit {
        width: 50%;
        border: 2px solid $cultured-pearl;
    }
    & pre {
        background: white;
    }
}
