@import "../main.scss";

.contact-response {
    width: 100%;
    min-height: 20rem;
    background-color: $beige;
    @include vertically-centered;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon {
        width: 3rem;
        &-bg {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: $yellow-green;
            display: flex;
            justify-content: center;
            margin-top: 4rem;
        }
    }
    &__title {
        font-size: $title-small;
        margin-bottom: 1rem;
    }
    &__subtitle {
        font-size: $subtitle-small;
        margin-top: 0;
        margin-bottom: 4rem;
    }
    & a {
        margin-bottom: 4rem;
    }
}

@include to-tablet-portrait {
    .contact-response {
        margin-top: 4rem;
    }
}