@import "../main.scss";

.footer {
    @include vertically-centered;
    height: 4rem;
    border-top: 1px solid $white-smoke;
    flex-direction: row-reverse;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 7.2rem;
    &__text {
        color: $white-smoke;
        text-decoration: none;
        &__link {
            &:visited {
                color: $white-smoke;
            }
        }
    }
}

@include to-tablet-portrait {
    .footer {
        display: flex;
        justify-content: center;
        height: 3rem;
        margin: 0 !important;
        padding: 0;
        text-align: center;
        &__text {
            font-size: 1.2rem;
        }
    }
}
