@import "../main.scss";

.image-grid {
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    margin: 3rem auto;
    display: flex;
    &__wrapper {
        max-width: 70rem;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 3rem;
    }
    .card:last-child {
        column-span: all;
    }
}

@include to-tablet-portrait {
    .image-grid {
        &__wrapper {
            max-width: 53rem;
        }
        .card:last-child {
            column-span: all;
            height: 215px;
            width: 215px;
        }
    }
}

@include to-phone {
    .image-grid {
        .card:last-child {
            column-span: all;
            height: 250px;
            width: 250px;
        }
        &__wrapper {
            max-width: 25rem;
        }
    }
}