@import "../main.scss";

.image-grid {
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    margin: 3rem auto;
    &__wrapper {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 7.2rem;
    }
}

@include to-desktop-large {
    .image-grid {
        &__wrapper {
            padding: 0;
            max-width: 70rem;
        }
    }
}

@include to-desktop {
    .image-grid {
        &__wrapper {
            max-width: 60rem;
        }
    }
}

@include to-tablet-portrait {
    .image-grid {
        &__wrapper {
            max-width: 53rem;
        }
    }
}

@media screen and (max-width: 671px) {
    .image-grid {
        column-count: 2 !important;
        .card:last-child {
            column-span: all;
            height: 215px;
            width: 215px;
        }
        &__wrapper {
            max-width: 45rem;
        }
    }
}

@include to-phone {
    .image-grid {
        column-count: 1 !important;
        .card:last-child {
            column-span: all;
            height: 250px;
            width: 250px;
        }
        &__wrapper {
            max-width: 25rem;
        }
    }
}