@import "../main.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        &:visited {
            color: black;
        }
        & p {
            margin: 0 auto;
            font-size: 4rem;
            font-weight: 800;
        }
    }
    &__wrapper {
        border-bottom: 1px solid $white-smoke;
        z-index: 3;
        position: relative;
        background-color: white;
    }
    &__logo {
        max-width: 8rem;
    }
    &__links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        & ul {
            @include vertically-centered;
            & li {
                @include vertically-centered;
                float: right;
                min-height: 5rem;
                & a {
                    display: block;
                    text-align: center;
                    padding: 1.4rem 1.6rem;
                    text-decoration: none;
                    font-size: $font-basic;
                    letter-spacing: 0.2rem;
                    &:visited {
                        color: black;
                    }
                }
            }
        }
    }
}

@include to-desktop {
    .navbar {
        &__links {
            & ul {
                & li {
                    & a {
                        letter-spacing: 0.1rem;
                        padding: 1.4rem 0.9rem;
                        font-size: $font-small;
                    }
                }
            }
        }
    }
}

@include to-tablet-portrait {
    .navbar {
        justify-content: center;
        min-height: 6rem;
        &__links {
            display: none;
        }
    }
}
