@import "../../main.scss";

.modal {
  &Body {
    min-width: 45rem;
    height: 30rem;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 1.6rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.4);
    padding: 1rem 0;
  }
  &Bg {
    &Dark {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100vw;
      height: 100vh;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  &Centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &Header {
    background: white;
    overflow: hidden;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
  }
  &Heading {
    margin: 0;
    padding: 1.5rem;
    color: black;
    font-weight: 500;
    font-size: $font-large;
    text-align: center;
  }
  &Content {
    padding: 10px;
    font-size: $font-medium;
    color: black;
    text-align: center;
  }
  &Actions {
    position: absolute;
    bottom: 1rem;
    margin-bottom: 10px;
    width: 100%;
    &Container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &Btn {
    &Confirm {
      background-color: $adm-purple;
      &:disabled {
        background-color: black;
      }
      &:hover {
        background-color: $adm-purple;
      }
      &:focus {
        background-color: $adm-purple;
      }
    }
    &Close {
      padding: 0.4rem 0.8rem;
      border-radius: 0.8rem;
      border: none;
      font-size: $font-medium;
      color: black;
      background: white;
      transition: all 0.25s ease;
      box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      right: 0;
      top: 0;
      align-self: flex-end;
      margin-top: -1rem;
      margin-right: -1rem;
      &:hover {
        box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
