@import "../main.scss";

.contact {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    min-height: 101rem;
    &__form {
        width: 45%;
        margin: 4rem 0 4rem 0;
        &__title {
            font-size: $title-medium;
            font-weight: normal;
            margin-bottom: 4rem;
        }
        &__subtitle {
            @include content;
            font-weight: bold;
        }
    }
    &__img {
        margin-left: 6rem;
        width: 49%;
        height: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@include to-desktop {
    .contact {
        min-height: auto;
        &__form {
            width: 100%;
            margin: 0;
        }
        &__img {
            display: none;
        }
    }
}

