@import "../../main.scss";

.header {
  height: 15rem;
  background-color: $adm-purple;
  color: white;
  font-size: $font-medium;
  font-weight: $font-weight-slim;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.6rem 3.2rem;
  &Number {
    font-size: $font-extra-large;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  &Content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &Subtitle {
      display: flex;
      align-items: baseline;
    }
  }
}
