@import '../../main.scss';

.navbar {
  height: 6.4rem;
  background-color: $adm-purple;
  &-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  &-img {
    &-xs {
      width: 17rem;
    }
  }
  &-collapse {
    margin-right: -4rem;
  }
  &-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    &-icon {
      width: 2.5rem;
      height: 2.5rem;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  &-nav {
    width: 20rem;
    float: right;
    background-color: $adm-purple;
    &-link {
      display: flex;
      justify-content: left;
      color: white;
      font-size: $font-basic;
      font-weight: $font-weight-basic;
      margin: 1.5rem;
    }
  }
}