@import "./main.scss";

.center-content {
    max-width: $max-page-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include horizontally-margined;
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-row {
        display: flex;
        flex-direction: row;
    }
}