@import "../main.scss";

.contact {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    min-height: 90rem;
    margin: 8rem auto !important;

    &__form {
        width: 80%;
        margin: 4rem auto;
        &__title {
            font-size: $title-medium;
            font-weight: normal;
            margin-bottom: 2rem;
        }
        &__subtitle {
            @include content;
            font-weight: bold;
        }
        &__row {
            display: flex;
            flex-direction: row;
        }
        &__column {
            width: 48%;
        }
    }
    &__img {
        margin-left: 6rem;
        width: 49%;
        height: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__sidebar {
        width: 15%;
        margin: 4rem 0;
        &__btn-set {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 12rem;
        }
    }
}

@include to-desktop {
    .contact {
        min-height: auto;
        &__form {
            width: 100%;
            margin: 0;
        }
        &__img {
            display: none;
        }
    }
}

