@import "../main.scss";

.learning {
    margin: 8rem 0;
    &-title {
        font-size: 4rem;
        font-weight: normal;
        text-align: left;
        margin-top: 12rem;
        margin-bottom: 1rem;
    }
    &-subtitle {
        font-size: $subtitle-medium;
        font-weight: bold;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    &-section {
        &-title {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
    &-content {
        @include content;
        margin-bottom: 1rem;
        &-link {
            color: $light-steel-blue;
            :visited {
                color: $light-steel-blue;
            }
        }
    }
    &-float {
        &-list {
            & li {
                @include ease-out-shadow;
                width: fit-content;
                margin-top: 1rem;
            }
        }
    }
    &-code {
        &-row {
            display: flex;
        }
    }
    & pre {
        margin-bottom: 1rem;
    }
    & ol {
        margin-bottom: 1rem;
    }
    & ul {
        margin-bottom: 1rem;
    }
}