@import "./color.scss";

.btn {
    border: none;
    border-radius: 0.4rem;
    min-height: 5rem;
    font-weight: bold;
    &__light {
        min-width: 13rem;
        background-color: $alice-blue;
        color: $steel-blue;
    }
    &__primary {
        min-width: 14rem;
        background-color: $steel-blue;
        color: white;
    }
    &__full {
        width: 100%;
    }
}
