@import "../main.scss";

.footer {
    max-width: 50rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $ghost-white;
    color: black;
    text-align: center;
    min-height: 5rem;
    padding: 1rem;
}
