@import "../../main.scss";

.learning {
    margin: 8rem 0;
    &-title {
        font-size: 4rem;
        font-weight: normal;
        text-align: left;
        margin-top: 12rem;
        margin-bottom: 1rem;
    }
    &-content {
        width: 80%;
    }
    &-section {
        &-title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            background-color: black;
            color: white;
            text-align: center;
        }
    }
    &-subtitle {
        font-size: $subtitle-medium;
        font-weight: bold;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    &-float {
        &-list {
            & li {
                @include ease-out-shadow;
                width: fit-content;
                margin-top: 1rem;
            }
        }
    }
    &-code {
        &-row {
            display: flex;
        }
    }
    &-references {
        @include ease-out-shadow;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
    & pre {
        margin-bottom: 1rem;
    }
    & ol {
        margin-bottom: 1rem;
    }
    & ul {
        margin-bottom: 1rem;
    }
}

@include to-desktop {
    .learning {
        &-content {
            width: 100%;
        }
    }
}