@import "./color.scss";
@import "./mixins.scss";
@import "./variables.scss";

.btn {
    border: none;
    border-radius: 0.4rem;
    min-height: 2rem;
    font-weight: normal;
    font-size: $font-medium;
    display: block;
    & a {
        color: white;
        text-decoration: none;
    }
    &__light {
        min-width: 13rem;
        background-color: $alice-blue;
        color: $steel-blue;
    }
    &__primary {
        min-width: 14rem;
        background-color: $steel-blue;
        color: white;
    }
    &__full {
        width: 100%;
    }
    &__zoom-in {
        border: none;
        min-height: 2rem;
        line-height: 2rem;
        appearance: button;
        text-decoration: none;
        padding: 1rem;
        @include ease-out-shadow;
    }
    &__log-in {
        @include ease-out-shadow;
        min-width: 13rem;
        max-height: 3rem;
        display: flex;
        align-items: center;
        &:visited {
            color: black;
        } 
        & img {
            max-height: 2rem;
            min-width: 2.4rem;
        }
        & p {
            margin-left: 1rem;
        }
    }
}

@include to-tablet-portrait {
    .btn {
        width: 100%;
        min-height: 2rem;
        padding: 0;
    }
}
