@import "../main.scss";

.contact-form {
    &__input {
        &-medium {
            width: 48%;
        }
        &-small {
            width: 22%;
        }
    }
    &__chain {
        display: flex;
        justify-content: space-between;
    }

    & label {
        font-size: $font-small;
    }
    & input:not([type="checkbox"]) {
        min-height: 3rem;
        margin: 1rem 0 2rem 0;
        @include input-area;
    }
    & textarea {
        resize: none;
        @include input-area;
    }

    & button {
        & .icon {
            height:1.5rem;
            float: left;
            margin-left: 1rem;
        }
        & span {
            margin-right: 4rem;
        }
    }
    
    & .label-set {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    & .note {
        color: $light-grey;
        &-phone {
            font-style: italic;
        }
    }
    & .top-bottom-space {
        margin: 1rem 0 2rem 0;
    }
    & .checkbox {
        &__label {
            line-height: 1.6;
            margin-left: 0.5rem;
        }
    }
    
}

@include to-desktop {
    .contact-form {
        width: 100%;
    }
}

@include to-tablet-portrait {
    .contact-form {
        margin: 2rem 0 4rem 0;
        &__chain {
            display: block;
        }
        &__address {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        &__title {
            font-size: $title-medium;
        }
        &__input {
            &-medium {
                width: 100%;
            }
            &-small {
                width: auto;
            }
        }

        & label {
            font-size: 1rem;
        }

        & .col {
            &-a {
                padding-right: 1rem;
            }
            &-b {
                padding-left: 1rem;
            }
        }
    }
}