@import "../main.scss";

.footer {
    @include vertically-centered;
    min-height: 8rem;
    border-top: 1px solid $white-smoke;
    flex-direction: row-reverse;
    padding: 0;

    &__text {
        color: $white-smoke;
        &__link {
            &:visited {
                color: $white-smoke;
            }
        }
    }
}

@include to-tablet-portrait {
    .footer {
        display: flex;
        justify-content: center;
        min-height: 6rem;
        margin: 0 2rem;
    }
}
