@import "../main.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    &__logo {
        min-width: 20rem;
    }
    &__links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        & li {
            float: right;
            min-height: 5rem;
            @include vertically-centered;
            & a {
                display: block;
                text-align: center;
                padding: 1.4rem 1.6rem;
                text-decoration: none;
                font-size: $font-basic;
                letter-spacing: 0.2rem;
                &:visited {
                    color: black;
                }
            }
        }
    }
}
